.body{
  width: 100%;
  background: url("../../images/pattern.webp");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333333;
  height: 100vh;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  width: 100%;
}
.card{
  width: 400px;
  height: 500px;
  background: rgb(248, 234, 225);
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-size: 30px;
  font-weight: 900;
}
.card:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background: #ffd99d;
}

.first_content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  opacity: 1;
  border-radius: 15px;
  flex-direction: column;
}

.card:hover .first_content {
  height: 0px;
  opacity: 0;
}

.second_content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
  flex-direction: column;
}

.card:hover .second_content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}
.plan_title {
  padding-left: 5%;
  padding-top: 3%;
  width: 100%;
  float: left;
  font-family: Garamond, serif;
  word-wrap: break-word; 
}

.plan_explanation {
  color-scheme: dark light;
  float: left;
  width: 90%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  padding-left: 5%;
  word-wrap: break-word;
  overflow: hidden; 
  text-overflow: ellipsis; 
  padding-top: 6%;
}
button {
  background: none;
  border: none;
  padding: 0;
  color: black;
  cursor: pointer;
  font-size: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

button:focus {
  outline: none;
}

button:hover {
  color: darkblue;
}
ul{
  padding-bottom:15%;
}
.text{
  font-family: Arial, Helvetica, sans-serif;
}