html {
    scroll-snap-type: y proximity;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.welcoming {

  height: 100vh; /* 100% of the viewport height */
  width: 100vw; /* 100% of the viewport width */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em; /* Adjust the font size as needed */
  background-color: #f0f0f0; /* Set a background color if desired */
  color: #333; /* Set text color if desired */
}
