.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 2rem 6rem;
}

.navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
} 

.navbar-links_logo {
  margin-right: 2rem;
}

.navbar-links_logo img {
  height: 62px;
  cursor: pointer;
}

.navbar-links_container {
  display: flex;
  flex-direction: row;
}

.navbar-links_container p {
  color: rgb(8, 10, 56);
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
  position: relative;
}
.active {
  border-bottom-style: solid;
  border-color: rgb(75, 73, 224);
  border-bottom-width: 5px;
}


.rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}

 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  