.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
  width: max-content;
  height: 60px;
  transition: 0.3s;
  z-index: 50;
  background-color: rgb(48, 48, 48);
  margin-top: 10px;
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links_logo img {
  height: 45px;
  cursor: pointer;
}

.navbar-links a.link {
  display: inline-block;
  color: rgb(248, 234, 225);
  margin-left: 2rem;
  margin-right: 2rem;
  font-weight: lighter;
  font-size: 20px;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  text-wrap: nowrap;
  text-decoration: none;
}

a.link.inactive:after {
  content: "";
  display: block;
  height: 1.5px;
  width: 0;
  background-color: #e0a23e;
  transition: width 0.5s ease;
}
a.link:hover:after {
  width: 100%;
}

.active:after {
  content: "";
  display: block;
  height: 1.5px;
  background-color: #e0a23e;
  width: 100%;
}

.rotate-center {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
